<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/createsuccesspage.css" />
  </head>
  <body>
    <form id="form" action="QuizTable.html">
      <h1>You have been registered successfully. Please login to continue</h1>

      <a href="/" class="btn btn-primary">Login</a>
    </form>
  </body>
</html>
