body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
 
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #464646;
  overflow: hidden;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  margin-inline: 100px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: rgb(255, 72, 0);
  transition: 1s;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: rgb(255, 72, 0);
}

i {
    color: black;
}
h1{
    color: #33ffd6;
    font-family: monospace;
    font-size: 70px;
    animation-name: h1;
    animation-duration: 1s;
}

section {
    display: inline-block;
    transition: 1s;
    border: 2px solid  rgb(223, 190, 253);
    width: fit-content;
    border-radius: 1em;
    
  }
  section > div {
    display: flex;
    justify-content: center;
    transition: 1s;
    
  }
  
  .box {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    border: 2px solid  rgb(208, 159, 255, 1);
    border-radius: 20px;
    padding: 1rem;
      text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
    transition: 1s;
    margin: 10px;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
  
  
  }
  /* .box:hover {
    background-color: rgb(226, 190, 255);
  } */
  i {
    display: flex;
    cursor: pointer;
    transition: 1s;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #ececec;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  i:hover{
    background-color: rgb(216, 216, 216);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  
  
@keyframes h1 {
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }

}
button {
  background-color: rgb(162, 93, 253);
  width: 200px;
  height: 40px;
  margin: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: large;
  border-radius: 20px;
  transition: 1s;
  cursor: pointer;
  color: rgb(232, 255, 25);
}

#logout {
 
 display:flex;
 justify-content: end;
  width: 1200px;
  height: 40px;
  text-decoration: none;
  padding:10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: large;
  border-radius: 20px;
  transition: 1s;
  cursor: pointer;
  color: rgb(176, 106, 255);

}

@keyframes button {
    from {
        margin-right: 100%;

      }
    
      to {
        margin-right: 0%;

      }


}

button:hover {
    background-color: rgb(99, 96, 255);
}
#logout:hover{
  color: rgb(156, 155, 255);
}
